<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
<div class="main-title cf">
	<h2>
		编辑{$data.model_id|get_document_model='title'}
		<notempty name="groups">[ 分组：
			<select id="groups">
				<option value="0" <eq name="data.group_id" value="0">selected</eq>>无</option>
				<foreach name="groups" item="vo">
					<option value="{$key}" <eq name="data.group_id" value="$key">selected</eq>>{$vo}</option>
				</foreach>
			</select>
			]
		</notempty>
	</h2>
</div>
