
.thinkbox{
    width:60%;
    height:80%;
}

.thinkbox > table{
    width:100%;
    height:100%;
}

.thinkbox-inner{
    vertical-align  : top;
}

.thinkbox-title{
    width           : 100%;
}

.thinkbox-default .thinkbox-title{
    position        : relative;
    z-index         : 1;
    top             : -6px;
    height          : 23px;
}

.thinkbox-default .thinkbox-body{
    height          : 100%;
    width           : 100%;
    padding-top     : 20px;
    top             : -25px;
}
